---

import { Image } from 'astro:assets';
import lidl from "../assets/images/lidl.webp"
import amc from "../assets/images/amc.webp"
import ricoh from "../assets/images/ricoh.webp"
import rema from "../assets/images/rema.webp"
import lastobject from "../assets/images/lastobject.webp"
import hjemhavn from "../assets/images/hjemhavn.webp"
import friluft from "../assets/images/friluftsland.webp"
import ironpump from "../assets/images/ironpump.webp"
import blackcotton from "../assets/images/blackcotton.webp"
import araven from "../assets/images/araven.webp"
import myphoner from "../assets/images/myphoner.svg"
---

<section id="banner" class="border-2 border-sort950 flex flex-row items-center overflow-hidden p-4 h-24">
    <div class="flex gap-16 animate-scroll space-x-4">
        <!-- Original set of images -->
      
<a href="https://www.lidl.com" target="_blank" rel="noopener noreferrer">
    <Image src={lidl} alt="Lidl logo" class="w-20 max-w-[100px]" loading="lazy" />
  </a>
  <a href="https://www.amc.com" target="_blank" rel="noopener noreferrer">
    <Image src={amc} alt="AMC logo" class="w-20 max-w-[100px]" loading="lazy" />
  </a>
  <a href="https://www.ricoh.com" target="_blank" rel="noopener noreferrer">
    <Image src={ricoh} alt="Ricoh logo" class="w-20 max-w-[100px]" loading="lazy" />
  </a>
  <a href="https://www.rema.com" target="_blank" rel="noopener noreferrer">
    <Image src={rema} alt="Rema logo" class="w-20 max-w-[100px]" loading="lazy" />
  </a>
  <a href="https://www.lastobject.com" target="_blank" rel="noopener noreferrer">
    <Image src={lastobject} alt="Last Object logo" class="w-20 max-w-[100px]" loading="lazy" />
  </a>
  <a href="https://www.hjemhavn.com" target="_blank" rel="noopener noreferrer">
    <Image src={hjemhavn} alt="Hjemhavn logo" class="w-20 max-w-[100px]" loading="lazy" />
  </a>
  <a href="https://www.ironpump.com" target="_blank" rel="noopener noreferrer">
    <Image src={ironpump} alt="Ironpump logo" class="w-20 max-w-[100px]" loading="lazy" />
  </a>
  <a href="https://www.araven.com" target="_blank" rel="noopener noreferrer">
    <Image src={araven} alt="Araven logo" class="w-20 max-w-[100px]" loading="lazy" />
  </a>
  <a href="https://www.friluft.com" target="_blank" rel="noopener noreferrer">
    <Image src={friluft} alt="Friluftsland logo" class="w-20 max-w-[100px]" loading="lazy" />
  </a>
  <a href="https://www.blackcotton.com" target="_blank" rel="noopener noreferrer">
    <Image src={blackcotton} alt="Black Cotton logo" class="w-20 max-w-[100px]" loading="lazy" />
  </a>
  <a href="https://www.myphoner.com" target="_blank" rel="noopener noreferrer">
    <Image src={myphoner} alt="Myphoner logo" class="w-20 max-w-[100px]" loading="lazy" />
  </a>


  

    </div>
</section>



<style>

    
@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); } /* Moves the entire length of both sets */
}

.animate-scroll {
    display: flex;
    animation: scroll 20s linear infinite; /* Adjust duration for scroll speed */
}

</style>




