---
import { Image } from 'astro:assets';
import beach from "../assets/images/beachbgemily.jpg"
import megafon from "../assets/images/megafon.png"
import tape from "../assets/images/tape.png"
import team from "../assets/images/plasticchangeteam.png"
import pil from "../assets/images/pil.png"
import 'animate.css';


---

<section id="hvadvi" class="overflow-clip h-fit bg-[url('../assets/images/beachbgemily.jpg')] bg-cover  bg-bottom">

    

<h2 class="text-sort950 font-[campton-xb] text-center text-5xl lg:text-7xl pt-20 mb-28 ">HVAD VI GØR</h2>


<div class="vibrate-1 z-0 w-[48%] lg:w-[28%]  absolute left-[50px] lg:left-[90px] top-[4755px] lg:top-[3190px]">
<Image src={megafon} alt="Megafon" class="rotate-[-30deg] scale-x-[-1] " loading="lazy"/>  
</div>

    <div class="flex flex-col lg:flex-row relative z-50">
        
        <article class="flex-1 min-w-[250px] border-2 rounded-md border-pink bg-hvid m-10 p-5 relative">
            <Image src={tape} alt="Tape" class="w-1/2 lg:w-1/3 absolute left-[80px] -top-4 lg:left-[120px] lg:-top-6" loading="lazy"/>
            <h3 class="text-turq700 text-3xl font-[campton-sb] m-2 lg:m-5">MOBILISERER OG ENGAGERER</h3>
            <p class="text-sort950 font-[tiempos] text-lg m-5">Gennem vores Plastic Changer univers søger vi at inspirere, engagere og motivere civil-befolkningen gennem vores egen adfærd, og ved at fremhæve hvad andre gør.</p>
        </article>

        <article class="flex-1 min-w-[250px] border-2 rounded-md border-pink bg-hvid m-10 p-5 relative">
            <Image src={tape} alt="Tape" class="w-1/2 lg:w-1/3 absolute left-[80px] -top-4 lg:left-[120px] lg:-top-6" loading="lazy"/>
            <h3 class="text-turq700 text-3xl font-[campton-sb] m-2 lg:m-5">PRESSER POLITIKERE</h3>
            <p class="text-sort950 font-[tiempos] text-lg m-5">Plastic Change presser på for stærkere lovgivning mod plastikforurening i Danmark, EU og globalt. Vi fokuserer på at reducere produktion og forbrug af plastik og arbejder for ambitiøse mål, både lokalt og internationalt.</p>
        </article>

        <article class="flex-1 min-w-[250px] border-2 rounded-md border-pink bg-hvid m-10 p-5 relative">
            <Image src={tape} alt="Tape" class="w-1/2 lg:w-1/3 absolute left-[80px] -top-4 lg:left-[120px] lg:-top-6" loading="lazy"/>
            <h3 class="text-turq700 text-3xl font-[campton-sb] m-2 lg:m-5">UDDANNER NYE GENERATIONER</h3>
            <p class="text-sort950 font-[tiempos] text-lg m-5">Plastic Change ser det som en vigtig opgave at uddanne fremtidige generationer. Derfor har vi udarbejdet gratis undervisningsmateriale, som fokuserer på plastik-forureningens konsekvenser og konkrete løsninger.</p>
        </article>
        
    </div>
    
    <div class="bounce-top hidden lg:block olivertext absolute right-10 top-[7050px]  lg:top-[4150px]">
        <p class=" text-sort950 font-[oliver] text-lg lg:text-3xl  text-center z-50">TEAMET BAG <br> PLASTIC CHANGE</p>
    <Image src={pil} alt="Pil" class="w-1/2 lg:w-full  z-50" loading="lazy"/>
</div>


    <Image src={team} alt="Plastic Change teamet" class=" lg:mx-auto w-full lg:w-[70%] relative  -mt-20 z-50" loading="lazy"/>

    
</section>









